################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/ARM/Debug
/obj
/bin
/WimsConstructionCam.vcxproj.user
