Package: WimsConstructionCam
Version: 1.20220707-1
Section: custom
Priority: optional
Architecture: armhf
Essential: no
Installed-Size: 95
Maintainer: wcbonner@users.noreply.github.com
Description: Records TimeLapse Pictures at one minute intervals and turns them into a daily video
Depends: ffmpeg
Homepage: https://github.com/wcbonner/WimsConstructionCam
