# Contents of /etc/systemd/system/wimconstructioncam.service
[Unit]
Description=WimsConstructionCam service
After=network-online.target
Requires=time-set.target
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=5
Environment=LIBCAMERA_LOG_LEVELS=*:4
ExecStart=/usr/local/bin/wimsconstructioncam -v 0 --lat 44.54450388 --lon -115.99412220 --destination /media/%H/DCIM
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
