# Contents of /etc/systemd/system/wimconstructioncam.service
[Unit]
Description=WimsConstructionCam service
After=network-online.target
Requires=
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/wimsconstructioncam -v 0 --lat 47.669894 --lon -122.382389 --destination /media/%H/DCIM/
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
